@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin 'tailwindcss-animate';

@layer base;

@variant dark (&:is(.dark *));

@theme {
    --radius: 0.5rem;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--color-white);
    --color-foreground: var(--color-slate-900);

    --color-placeholder: var(--color-slate-400);

    --color-card: var(--color-white);
    --color-card-foreground: var(--color-slate-900);

    --color-popover: var(--color-white);
    --color-popover-foreground: var(--color-slate-900);

    --color-primary: var(--color-sky-600);
    --color-primary-foreground: var(--color-white);
    --color-primary-hover: var(--color-sky-700);
    --color-primary-active: var(--color-sky-800);

    --color-secondary: var(--color-slate-200);
    --color-secondary-foreground: var(--color-slate-900);
    --color-secondary-interaction: var(--color-slate-400);

    --color-link: var(--color-blue-600);

    /* --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground); */

    --color-accent: var(--color-sky-200);
    --color-accent-foreground: var(--color-slate-900);
    --color-accent-hover: var(--color-sky-300);
    --color-accent-active: var(--color-sky-400);

    --color-destructive: var(--color-red-700);
    --color-destructive-foreground: var(--color-white);
    --color-destructive-hover: var(--color-red-800);
    --color-destructive-active: var(--color-red-900);

    --color-border: var(--color-slate-200);
    --color-ring: var(--color-blue-400);

    /* --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5); */

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }

    --animate-draw-check: draw-check 1s ease-in-out;

    @keyframes draw-check {
        from {
            stroke-dashoffset: 24;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    @media (width >= theme(--breakpoint-sm)) {
        max-width: none;
    }
    @media (width >= 1400px) {
        max-width: 1400px;
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
    :root {
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    .page-wrapper {
        @apply w-2xl flex flex-col p-4;
    }
    .layout-wrapper {
        @apply flex flex-1 flex-col p-4;
    }
}

@layer utilities {
    ::selection {
        background-color: var(--color-accent);
    }

    * {
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
    }

    .form-control {
        @apply bg-background text-foreground placeholder:text-placeholder hover:border-ring flex items-center rounded-md transition duration-0 placeholder:select-none hover:duration-150 disabled:cursor-not-allowed disabled:opacity-50;
    }

    .has-focus-ring {
        @apply focus-visible:ring-ring/60 focus-visible:outline-hidden focus-visible:border-ring data-[state=open]:ring-ring/60 data-[state=open]:border-ring transition-[width,color,background-color,border-color,text-decoration-color,fill,stroke,--tw-gradient-from,--tw-gradient-via,--tw-gradient-to,box-shadow;] focus-visible:ring-4 focus-visible:duration-150 data-[state=open]:ring-4;
    }

    /* h-10 file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground md:text-sm duration-150 */
}
